<html>
<head>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	Hello, {{username}}
	<br>
	<table id="myTable">
		<tr>
			<th>time</th>
			<th>nodeid</th>
			<th>temp</th>
			<th>humi</th>
			<th>israin</th>
		</tr>
		{% for r in data %}
		<tr>
			<td>{{r.time}}</td>
			<td>{{r.nodeid}}</td>
			<td>{{r.temp}}</td>
			<td>{{r.humi}}</td>
			<td>{{r.israin}}</td>
		</tr>
		{% endfor %}
	</table>
	<script>
		$(document).ready(function(){
		    $('#myTable').DataTable();
		});
	</script>
</body>
</html>