<html>
<head>
	<style type="text/css">
	svg {
	  border: solid 1px #aaa;
	}
	.active {
	  stroke: #000;
	  stroke-width: 2px;
	}
	</style>
	<script src="{{ url_for('static', filename='d3.min.js') }}"></script>
	<script src="{{ url_for('static', filename='socket.io-1.2.0.js') }}"></script>
</head>
<body>

<script>
var socket = io();

var svg = d3.select("body")
	.append("svg")
	.attr("width", 400)
	.attr("height", 300);

var circles = svg.selectAll("circle").data([{'x':20,'y': 30},{'x':40,'y': 30}])


function dragstarted(d) {
  d3.select(this).raise().classed("active", true);
}

function dragged(d) {
  d3.select(this).attr("cx", d.x = d3.event.x).attr("cy", d.y = d3.event.y);
  //console.log(svg.selectAll("circle").data());
  socket.emit('c2s',  svg.selectAll("circle").data() );
}

function dragended(d) {
  d3.select(this).classed("active", false);
}

circles.enter()
	.append("circle")
	.attr("cx",function (d) { return d.x; })
	.attr("cy", function (d) { return d.y; } )
	.attr("r", 20)
	.style("fill", "red")
	.call(d3.drag()
        .on("start", dragstarted)
        .on("drag", dragged)
        .on("end", dragended));

circles
	.attr("cx",function (d) { return d.x; })
	.attr("cy", function (d) { return d.y; } )
	.attr("r", 20)
	.style("fill", "red");

circles.exit()
	.transition().duration(1000)
	.attr("r", 0)
	.remove();
</script>
</body>
</html>