<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rice Diseases</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/bootstrap.min.css">
  <script src="static/jquery.min.js"></script>
  <script src="static/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Forecast</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Rice Diseases
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/1">Brown Spot Disease</a></li>
          <li><a href="/2">Blast Disease</a></li>
          <li><a href="/3">Bacterial Leaf Streak Disease</a></li>
          <li><a href="/4">Dirty Panicle Disease</a></li>
          <li><a href="/5">Bacterial Leaf Blight Disease</a></li> 
        </ul>
      </li>
      <li><a href="/graph">Graph</a></li> 
      <li><a href="/read">Data</a></li>
      <li><a href="/contact">Contact</a></li> 
    </ul>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h1>Brown Spot Disease</h1>
      
      <h2>Symptoms</h2>
      <p>Lesions are initially small, circular, and dark brown to purple-brown. Fully developed lesions are circular to oval with a light brown to gray center, surrounded by a reddish brown margin caused by the toxin produced by the fungi. On susceptible varieties, lesions are 5 - 14 mm long which can cause leaves to wilt. On resistant varieties, the lesions are brown and pinhead-sized.</p>


      <p>Causal agent : Bipolaris oryzae<br>
        Percentage of damage: Seedling 10 - 60%, Grains production period 5 - 45%</p>


      <div class="container">
      <div style="float:left;"><img class="img-responsive" src="static/11.png" alt="Brown spot disease" width="200"></div>
      <div style="float:left;"><img class="img-responsive" src="static/12.png" alt="Brown spot disease" width="200"></div>
      </div>
      

      <h2>Managements</h2>
      <p>
        1. Monitor soil nutrients regularly and apply required fertilizers or apply calcium silicate slag before planting if silicon was low.<br>
        2. Use resistant cultivars.<br>
        3. Biological control such as Trichoderma spp., Bacillus subtilis, Pseudomonas fluorescens.<br>
        4. Use fungicides (e.g., iprodione, propiconazole, azoxystrobin, trifloxystrobin, and carbendazim) as seed treatments.<br>
        5. Treat seeds with hot water (53 - 54°C) for 10 - 12 minutes before planting, to control primary infection at the seedling stage.<p>


    </div>
      

  </div>
</div>

</body>
</html>

