<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rice Diseases</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/bootstrap.min.css">
  <script src="static/jquery.min.js"></script>
  <script src="static/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/forecast">Forecast</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/forecast">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Rice Diseases
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/1">Brow Spot Disease</a></li>
          <li><a href="/2">Blast Disease</a></li>
          <li><a href="/3">Bacterial Leaf Streak Disease</a></li>
          <li><a href="/4">Dirty Panicle Disease</a></li>
          <li><a href="/5">Bacterial Leaf Blight Disease</a></li> 
        </ul>
      </li>
      <li><a href="/graph">Graph</a></li> 
      <li><a href="/read">Data</a></li>
      <li><a href="/contact">Contact</a></li> 
    </ul>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h1>Blast Disease</h1>
      
      <h2>Symptoms</h2>
      <p>Symptoms: 
Initial symptoms are white to gray-green lesions or spots with darker borders produced on all parts of the shoot, while older lesions are elliptical or spindle-shaped and whitish to gray with necrotic borders. Lesions may enlarge and coalesce to kill the entire leaf. It also affects reproduction by causing the host to produce fewer seeds. </p>


      <p>Causal agent : <i>Magnaporthe grisea, Pyricularia oryzae (anamorph)</i><br>
      Percentage of damage: Seedling 90%, Grains production period 50%
      </p>


      <div class="container">
      <div style="float:left;"><img class="img-responsive" src="static/21.png" alt="Blast disease" width="200"></div>
      <div style="float:left;"><img class="img-responsive" src="static/22.png" alt="Blast disease" width="200"></div>
      <div style="float:left;"><img class="img-responsive" src="static/23.png" alt="Blast disease" width="200"></div>
      <div style="float:left;"><img class="img-responsive" src="static/24.png" alt="Blast disease" width="200"></div>
      </div>
      

      <h2>Managements</h2>
      <p>
1. Using resistance cultivars and seed collection by yourself.
<br>
2. Integrated management program should be implemented.
<br>
3. Managing the amount of water supplied to the crops limits spore mobility.
<br>
4. Biological control such as Trichoderma spp., Bacillus subtilis, Pseudomonas fluorescens.
<br>
5. Chemical controls such as carbendazim, kazukamycin, prochloraz, tricyclazol have been shown to prevent penetration of the pathogen.
<p>


    </div>
      

  </div>
</div>

</body>
</html>

