<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rice Diseases</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/bootstrap.min.css">
  <script src="static/jquery.min.js"></script>
  <script src="static/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Forecast</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Rice Diseases
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/1">Brown Spot Disease</a></li>
          <li><a href="/2">Blast Disease</a></li>
          <li><a href="/3">Bacterial Leaf Streak Disease</a></li>
          <li><a href="/4">Dirty Panicle Disease</a></li>
          <li><a href="/5">Bacterial Leaf Blight Disease</a></li> 
        </ul>
      </li>
      <li><a href="/graph">Graph</a></li> 
      <li><a href="/read">Data</a></li> 
      <li><a href="/contact">Contact</a></li> 
    </ul>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h1>Bacterial Leaf Streak Disease</h1>
      
      <h2>Symptoms</h2>
      <p>
Symptoms are narrow, dark-greenish, water-soaked, interveinal streaks of various lengths, initially restricted to the leaf blades. The lesions enlarge, turn yellowish-orange to brown (depending on cultivar), and eventually coalesce. Tiny amber droplets of bacterial exudate are often present on the lesions.</p>


      <p>Causal agent : <i>Xanthomonas oryzae pv. oryzicola</i>
        <br>
Percentage of damage: Seedling 70%, Grains production period 30%

      </p>


      <div class="container">
      <div style="float:left;"><img class="img-responsive" src="static/31.png" alt="Bacterial leaf streak disease" width="200"></div>
      <div style="float:left;"><img class="img-responsive" src="static/32.png" alt="Bacterial leaf streak disease" width="200"></div>
      <div style="float:left;"><img class="img-responsive" src="static/33.png" alt="Bacterial leaf streak disease" width="200"></div>
      </div>
      

      <h2>Managements</h2>
      <p>
1. Phytosanitary measures to prevent the distribution of seed infected.
<br>
2. Healthy seed is used.
<br>
3. Suitable using  nitrogenous fertilizer because the use of excess nitrogenous fertilizer has shown an increase in incidence.
<br>
4. Biological control such as Trichoderma spp., Bacillus subtilis, Pseudomonas fluorescens.
<br>
5. Other control measures are not likely to be necessary. 

<p>


    </div>
      

  </div>
</div>

</body>
</html>

