<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rice Diseases</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/bootstrap.min.css">
  <script src="static/jquery.min.js"></script>
  <script src="static/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/forecast">Forecast</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/forecast">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Rice Diseases
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/1">Brow Spot Disease</a></li>
          <li><a href="/2">Blast Disease</a></li>
          <li><a href="/3">Bacterial Leaf Streak Disease</a></li>
          <li><a href="/4">Dirty Panicle Disease</a></li>
          <li><a href="/5">Bacterial Leaf Blight Disease</a></li> 
        </ul>
      </li>
      <li><a href="/graph">Graph</a></li> 
      <li><a href="/read">Data</a></li> 
      <li><a href="/contact">Contact</a></li> 
    </ul>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h1>Dirty Panicle Disease</h1>
      
      <h2>Symptoms</h2>
      <p>
Infected seedlings have small, circular, yellow brown or brown lesions that may girdle the coleoptile and distort primary and secondary leaves.
</p>


      <p>Causal agent : <i>Curvularia lunata,
                              Cercospora oryzae,
                               Bipolaris oryzae,
                               Fusarium semitectum,
                              Trichoconis padwickii,
                              Sarocladium oryzae
</i>
        <br>
Percentage of damage: Seedling 80%, Grains production period 40%

      </p>


      <div class="container">
      <div style="float:left;"><img class="img-responsive" src="static/41.png" alt="Dirty panicle disease" width="200"></div>
      <div style="float:left;"><img class="img-responsive" src="static/42.png" alt="Dirty panicle disease" width="200"></div>
      <div style="float:left;"><img class="img-responsive" src="static/43.png" alt="Dirty panicle disease" width="200"></div>
      <div style="float:left;"><img class="img-responsive" src="static/44.png" alt="Dirty panicle disease" width="200"></div>
      </div>
      

      <h2>Managements</h2>
      <p>
1. Monitor soil nutrients regularly and apply required fertilizers or apply calcium silicate slag before planting if silicon was low. 
<br>
2. Use resistant cultivars.
<br>
3. Biological control such as Trichoderma spp., Bacillus subtilis, Pseudomonas fluorescens.
<br>
4. Use fungicides (e.g., iprodione, propiconazole, azoxystrobin, trifloxystrobin, and carbendazim) as seed treatments.
<br>
5. Treat seeds with hot water (53 - 54°C) for 10 - 12 minutes before planting, to control primary infection at the seedling stage.

<p>


    </div>
      

  </div>
</div>

</body>
</html>

