<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rice Diseases</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/bootstrap.min.css">
  <script src="static/jquery.min.js"></script>
  <script src="static/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/forecast">Forecast</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/forecast">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Rice Diseases
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/1">Brow Spot Disease</a></li>
          <li><a href="/2">Blast Disease</a></li>
          <li><a href="/3">Bacterial Leaf Streak Disease</a></li>
          <li><a href="/4">Dirty Panicle Disease</a></li>
          <li><a href="/5">Bacterial Leaf Blight Disease</a></li> 
        </ul>
      </li>
      <li><a href="/graph">Graph</a></li> 
      <li><a href="/read">Data</a></li> 
      <li><a href="/contact">Contact</a></li> 
    </ul>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h1>Bacterial Leaf Blight Disease</h1>
      
      <h2>Symptoms</h2>
      <p>
Lesions are pale-green to grey-green, water-soaked streaks near the leaf tip and margins. In older plants, the leaves become yellow and then die. 
</p>


      <p>Causal agent : <i>Xanthomonas oryzae pv. oryzae</i><br> 
Percentage of damage: Seedling 80%, Grains production period 40%


      </p>


      <div class="container">
      <div style="float:left;"><img class="img-responsive" src="static/51.png" alt="Bacterial leaf blight disease" width="200"></div>
      <div style="float:left;"><img class="img-responsive" src="static/52.png" alt="Bacterial leaf blight disease" width="200"></div>
      <div style="float:left;"><img class="img-responsive" src="static/53.png" alt="Bacterial leaf blight disease" width="200"></div>
      </div>
      

      <h2>Managements</h2>
      <p>
1. Planting resistant rice cultivars.  
<br> 
2. Suitable using  nitrogenous fertilizer because the use of excess nitrogenous fertilizer has shown an increase in incidence.
<br>
3. Biological control such as Trichoderma spp., Bacillus subtilis, Pseudomonas fluorescens.
<br>
4. Chemical controls such as Carbendazim, kazukamycin, prochloraz, tricyclazol have been shown to prevent penetration of the pathogen.


</p>


    </div>
      

  </div>
</div>

</body>
</html>

