<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rice Diseases</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/bootstrap.min.css">
  <script src="static/jquery.min.js"></script>
  <script src="static/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/forecast">Forecast</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/forecast">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Rice Diseases
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/1">Brow Spot Disease</a></li>
          <li><a href="/2">Blast Disease</a></li>
          <li><a href="/3">Bacterial Leaf Streak Disease</a></li>
          <li><a href="/4">Dirty Panicle Disease</a></li>
          <li><a href="/5">Bacterial Leaf Blight Disease</a></li> 
        </ul>
      </li>
      <li><a href="/graph">Graph</a></li> 
      <li><a href="/read">Data</a></li>
      <li><a href="/contact">Contact</a></li> 
    </ul>
  </div>
</nav>

<!-- Facebook Badge START -->
Project Manager:
<a href="https://www.facebook.com/dusit.tk" title="Dusit TK" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 14px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" target="_TOP">Dusit TK</a>
<br>
Developer:
<a href="https://www.facebook.com/wasitl" title="Wasit Limprasert" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 14px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" target="_TOP">Wasit Limprasert</a><!-- Facebook Badge END -->
      

  </div>
</div>

</body>
</html>

