<!doctype html>
<html>
  <head>
  	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<style>
	  #mylist { list-style-type: none; margin: 0; padding: 0; }
      #mylist li { padding: 5px 10px; }
      #mylist li:nth-child(odd) { background: #99f; }
    </style>
  </head>
  <body>
  	<h2>Hello, {{name}}</h2>
  	<h3>Message:{{message}}</h3>
    <ul id="mylist"></ul>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

    <script>
      var socket = io();
      //var socket = io.connect('http://192.168.1.36:5000');
      socket.on('s2c', function(msg){
      	console.log(msg)
        $('#mylist').append($('<li>').text(msg));
      });
    </script>
  </body>
</html>
